---
// No props needed for this component
import ContactBox from './ContactBox.astro';
import Logotipo7 from '../../public/Logotipo-07.png'
import ContactBoxFooter from './ContactBoxFooter.astro';
---

<footer class="relative overflow-hidden  pt-20 pb-8 bg-gray-50">
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 z-10">
    <div class="flex items-center justify-center mb-8">
      <img src={Logotipo7.src} alt="SUBAXA Logo" class="h-16 sm:h-20 md:h-24 lg:h-28 object-contain">
    </div>

    <p class="text-gray-700 text-xl sm:text-2xl lg:text-xl max-w-5xl mx-auto leading-relaxed text-center">
        Una plataforma para invertir, comprar casa o terreno fácil y seguro a un click, con un equipo de expertos que te acompañan en cada paso.
    </p>
    <hr class="my-8 border-gray-400">
  </div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 z-10 text-center text-gray-600 text-sm">
    © 2025 SUBAXA. Todos los derechos reservados.
  </div>
</footer>
